@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    overflow-x: auto;
}

a[href] {
    text-decoration: underline;
}
a.no-underline {
    text-decoration-line: none;
}

blockquote {
    padding-left: 1rem;
    margin: .5em 0 .5em 1em;
    border-left: 3px solid rgb(23 23 23);
}
